


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Inserir</div>
			<div class="panel-body">
				<%= simple_form_for(@student) do |f| %>
			  <%= f.error_notification %>

				<div class="form-group">
				  <%= f.input :register_number, placeholder: 'Nº de Matrícula', input_html: { class: 'form-control' }%>
				</div>
				<div class="form-group">
				  <%= f.input :name, placeholder: 'Nome do Aluno', input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group checkbox">
					<%=  f.input :status, as: :boolean, inline_label: 'Ativo', label: false%>			 
				</div>
								  	
			 <%= f.button :submit, class: 'btn-default'%>
			</div>
		</div>
	</div>
</div>
<% end %>
