<h1><%= t('activemodel.action.title.listing', :model => Student.model_name.human) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.student.register_number') %></th>
      <th><%= t('activerecord.attributes.student.name') %></th>
      <th><%= t('activerecord.attributes.student.status') %></th>
      <th colspan="3"><%= t('activemodel.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.register_number %></td>
        <td><%= student.name %></td>
        <td><%= student.status %></td>
        <td><%= link_to t('activemodel.show'), student %></td>
        <td><%= link_to t('activemodel.edit'), edit_student_path(student) %></td>
        <td><%= link_to t('activemodel.destroy'), student, method: :delete, data: { confirm: t('activerecord.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.submit.create', :model => Student.model_name.human), new_student_path %>
