


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Inserir Curso</div>
			<div class="panel-body">
				<%= simple_form_for(@course) do |f| %>
			  <%= f.error_notification %>

				<div class="form-group">
				  <%= f.input :name, placeholder: 'Nome do Curso', input_html: { class: 'form-control' }%>
				</div>
				<div class="form-group">
				  <%= f.input :description, placeholder: 'Descrição do Curso', input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group checkbox">
					<%=  f.input :status, as: :boolean, inline_label: 'Ativo', label: false%>			 
				</div>
								  	
			 <%= f.button :submit, class: 'btn-default'%>
			 <%= link_to t('activemodel.back'), students_path , class: 'btn-default'%>

			</div>
		</div>
	</div>
</div>
<% end %>
