<%= render 'layouts/messages' %>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading"><%= t('activerecord.models.course.one')%></div>
			<div class="panel-body">

				<div class="form-group">
				  <strong><%= t('activerecord.attributes.course.name') %>:</strong>
				  <%= @course.name %>
				</div>

				<div class="form-group">
				  <strong><%= t('activerecord.attributes.course.description') %>:</strong>
				  <%= @course.description %>
				</div>

				<div class="form-group">
				  <strong><%= t('activerecord.attributes.course.status') %>:</strong>
				  <%= @course.status %>
				</div>

				<%= link_to t('activemodel.edit'), edit_course_path(@course) %> |
				<%= link_to t('activemodel.back'), courses_path %>
			
			</div>
		</div>
	</div>
</div>

