<!DOCTYPE html>
<html>
<head>
  <title><%=t('app')%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body cz-shortcut-listen="true">
	<div class="container">
		<%= render 'layouts/topo' %>
	
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
