!!!
%html{"ng-app" => "app"}
  %head
    %title= t('app')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{"cz-shortcut-listen" => "true"}
    .container
      = render 'layouts/topo'
      = yield
    = render 'layouts/footer'
